html,body,main,h1,h2,h3,p,ul,li,div,img {
    padding: 0;
    margin: 0;
    font-family: 'Kosugi Maru', sans-serif;
}
main {
    width: 100vw;
    margin:0 auto;
    text-align: center;
    background-image: url(./img/bg1.jpg);
    color: #222;
    line-height: 6rem;
    padding-bottom: 100px;
}

h1 {
    font-size: 10vw;
}
h2 {
    font-size: 9vw;
}
.birth {
    padding-right: 8vw;
}
.birth img {
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.birth h1 {
    position: absolute;
    top : 10%;
    left: 25%;
    font-size: 10vw;
    color: #d24670;
    text-align: left;
}
section {
    padding-left:8vw;
    padding-right: 8vw;
}
.icon-container {
    margin-top: 70px;
    border-bottom: 2px solid #222;
}
.border {
    border-bottom: 2px solid #222;
}
.icon-img img {
    border-radius: 50%;
    filter: blur(30px;);
    margin: 30px;
    width: 70vw;
}
.tt-container {
    margin-top: 70px;

}
.tt {
    margin-bottom: 80px;
    padding-bottom: 80px;
}
.footer-img img {
    overflow: hidden;
    width: 70vw;
    height: auto;
}
.arrow {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    padding-top: 20vw;
}
.love {
    margin-top: 900px;
}
.arq {
    border-radius: 50%;
}

/* @media screen and (min-width:869px) {
    main {
        line-height: 15rem;
    }
    h1{
        font-size: 5vw;
        line-height: 10rem;
    }
    h2
} */
